body{
  background-color:#E6E0DA;
  font-family: "Avenir Next";
}

ul{
  list-style:none;
}

.main-header-list{
  display:flex;
}

.main-header-list li{
  margin: 10px;
  padding: 10px 15px;
}

.main-header-list a{
  text-decoration: none;
  color: #B8A69B;
  transition: all 1s;
}

.main-header-list a:hover{
  color: #4D3020;
}

.main-header-logo{
  font-size: 40px;
  margin-bottom: 1px;
  letter-spacing:.5em;
  text-align: center;
  color: #806D53;
}

main{
  height:860px;
}

.downbtn{
  color: white;
  padding-top:200px;
  font-size: 50px;
}

.main-base{
  padding: 250px 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container{
  text-align: center;
  color:white;
  padding-bottom: 50px;
}

.section-title{
  color: #5E4A4E;
  font-size:40px;
  padding: 20px 0 10px 0;
  letter-spacing: 2px;
  border-bottom: 3px solid #6E5B5E;
  display: inline-flex;
}

.main-wrapper{
  background-color: #CFC0BD;
  width:100%;
  height:auto;
}

.skill-list{
  display: flex;
  flex-wrap: wrap;
}

.skill-content{
  flex: auto;
  margin: 30px 0 30px 0;
}

.skill-content i{
  font-size: 100px;
}

.skill-content p{
  font-size:30px;
}

.skill-content span{
  opacity: 0.5;
}

.text{
  font-size: 20px;
  border-bottom: 2px solid #B8A69B;
  padding-bottom: 50px;
}

.Unacquired{
  opacity:0.5;
}

.portforio-wrapper{
  background-color: #CFC0BF;
  height:auto;
}

.portforio-image{
  display: flex;
  flex-wrap:wrap;
  flex-flow: column;
  align-items: center;
}

.image-item img{
  width: 600px;
  height: 400px;
  margin:15px;
  flex: auto;
}

footer{
  text-align: center;
  padding-top: 15px;
}

.footer-adress a{
  margin: 10px 20px;
  transition: all .3s;
  color:#806D53;
}
